<h2><%= link_to movie.title, movie_path(movie) %> </h2>
<h3>Average Rating: <%= movie.review_average || "0" %>/10</h3>
<h4>Release Date: <%= formatted_date(movie.release_date) %></h4>
<h4>Director: <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
<p><%= movie.description %> </p>
