<div class="well">
<form>

<div class="form-group">
<%= form_tag(movies_path, :method => "get", class: "search-form") do %>
<%=label_tag :title_director, "Find movie by title or director: " %>
<%= text_field_tag :title_director, params[:title_director], placeholder: "Search" %><br/ >
</div>

<div class="form-group">
<%=label_tag :runtime_in_minutes, "and runtime in minutes: " %>
<%= select_tag(:runtime_in_minutes, options_for_select([["Any", nil],["Under 90 minutes", "<90"], ["Between 90 and 120 minutes", "BETWEEN 90 AND 120"], ["Over 120 minutes", ">120"]])) %><br />
</div>

<div class ="form-group">
<%= submit_tag "Search", :name => nil, class: "btn btn-default", id: "submit-form"%>
</div>
<%end%>

<div class ="form-group" >
<%= form_tag(movies_path, :method => "get", class: "search-form") do %>
<%= submit_tag "Clear Form", :name => nil, class: "btn btn-default", id: "clear-form"%>
</div>
<% end %>

</form>
</div>