<h1>Rotten Mangoes</h1>
<%= link_to "Submit a movie!", new_movie_path %><br />

<%= render 'search_form' %>

<%= paginate @movies %>

<hr>
<% if @movies.present? %>
   <%= render partial: 'movie', collection: @movies %>
<% else %>
  <p>Your search returned no results<%= params[:search] %>.</p>
<% end %>
  



