<hr>
  <h2><%= @user.full_name %> <%= "(admin)" if @user.admin? %></h2> 
  <h3><%= @user.email %></h3>

  <h3>Reviews</h3>

      <% @user.reviews.each do |review| %>
        <div class ="well">
            <p><%= link_to movie_path do %><%= review.movie.title %><% end %>
            <p><%= review.text %></p>
            <p><%= review.rating_out_of_ten %>/10</p>
            <small>- <%= review.user.full_name %> </small><br />
        </div>
      <% end %>
